.custom-button {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-width: 1 1 1 1;
    -fx-border-color:#d7b97e;
    -fx-background-color: transparent;
    -fx-text-fill: #d7b97e;
}
.custom-button-start {
    -fx-background-color:  #d7b97e;
    -fx-text-fill: #602004;
}