.root {
    -fx-background-image: url("/Images/misc/sfondo%20parquet.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
}
/* Style for the Pane */
.Pane {
    -fx-background-color: #291700;
    -fx-opacity: 0.4;
}

/* Style for the ImageView */
.ImageView {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 1);
}

/* Specific style for the 'pickTiles' Button */
.ButtonPickTiles {
    -fx-border-color: #501b6c;
    -fx-background-color:  #d7b97e;
    -fx-opacity: 0.8;
    -fx-border-width: 2 2 2 2;
    -fx-text-fill: #501b6c;
}

/* Style for the Label */
.Label {
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
}

/* Style for the Label */
.LabelScroll {
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
}

/* Style for the TextField */
.TextField {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-padding: 5px;
}

/* Style for the ScrollPane */
.ScrollPane {
    -fx-background-image: url("/Images/misc/base_pagina2.jpg");
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
}

/*
.GridPane {
    -fx-border-color: #501b6c;
}
*/
